<header>
  <nav>
    <a href="/"
      ><!--fixx this link issue afterwards-->
      <h1 class="logo activeLink">
        <img src="/eventhub.png" alt="eventhub logo" height="60"/>
      </h1>
    </a>
    <button class="navbar-toggler">
      <span class="icon"></span>
    </button>
    <ul class="nav-items-wrapper">
      <li class="nav-items">
        <a href="/home" class="nav-item-links">Home</a>
      </li>
      <li class="nav-items">
        <a href="/blogs" class="nav-item-links">Blogs</a>
      </li>
      <li class="nav-items">
        <a href="/userProfile" class="nav-item-links">Account</a>
      </li>
    </ul>
  </nav>
</header>
