<header>
  <nav>
    <a href="#">
      <!--fixx this link issue afterwards-->
      <h1 class="logo activeLink">
        <img src="/eventhub.png" alt="eventhub logo" height="60"/>
      </h1>
    </a>
    <button class="navbar-toggler">
      <span class="icon"></span>
    </button>
    <ul class="nav-items-wrapper">
      <li class="nav-items">
        <a href="/dashboard" class="nav-item-links">Dashboard</a>
      </li>
      <li class="nav-items">
        <a href="/newEvent" class="nav-item-links">Create Events</a>
      </li>
      <li class="nav-items">
        <a href="/newPrivateEvent" class="nav-item-links">Private Events</a>
      </li>
      <li class="nav-items">
        <a href="/organiserProfile" class="nav-item-links">Account</a>
      </li>
    </ul>
  </nav>
</header>
