<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta.ejs") %>
    <title>Eventhub | Login</title>
    <link rel="stylesheet" href="/all.css" />
    <link rel="stylesheet" href="/registration.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <a href="/">
        <img src="/favicon.ico" alt="website logo" />
      </a>
      <h1>Welcome Back</h1>
      <form action="/login" method="post">
        <label for="email">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Email"
            autocomplete="email"
            class="form-elements"
          />
        </label>
        <label for="password">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            autocomplete="current-password"
            class="form-elements"
          />
        </label>
        <fieldset>
          <legend>Type of User</legend>
          <label for="user" class="type-user">
            <input
              type="radio"
              name="typeUser"
              id="user"
              value="user"
              required
              checked
            />
            User
          </label>
          <label for="organiser" class="type-user">
            <input
              type="radio"
              name="typeUser"
              id="organiser"
              value="organiser"
              required
            />
            Organiser
          </label>
        </fieldset>

        <button type="submit" class="form-elements">Login</button>
      </form>
      <p>Don't have an account? <a href="signup">Signup</a></p>
    </div>
  </body>
</html>
