<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/meta.ejs") %>
    <title>Eventhub | Payment Unsuccessful</title>
    <link rel="stylesheet" href="/all.css">
    <style>
        main h1{
            height: 66vh;
            width: 80vw;
            margin: auto;
            padding: 20px 0;
        }
    </style>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <h1>Payment Unsuccessful! Please try again after some time</h1>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>