<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/meta.ejs") %>
    <link rel="stylesheet" href="/legalDocs.css" />
    <title>Eventhub | Privacy Policy</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <main>
      <section class="privacy-policy">
        <h2>1. Eventhub Services</h2>
        <p>
          Welcome to Eventhub! We are a ticketing and registration platform
          dedicated to bringing the world together through live experiences.
          Through our platform, mobile apps and services, we enable people all
          over the world to create, discover, share and register for events.
        </p>
        <p>
          Eventhub's products, features and offerings are available (a) online
          through various Eventhub properties including without limitation,
          Eventhub, Eventhub Communities, Eventhub Music, Eventhub Venue,
          Lanyrd, Rally, Ticketea, Ticketfly, nvite ("Site(s)"); (b) off
          platform, including without limitation, RFID, entry management,
          sponsorship and marketing or distribution services; and (c) through
          mobile applications, webpages, application programming interfaces, and
          subdomains ("Applications"). (a), (b), and (c) are collectively
          referred to as "Eventhub Properties" or our "Services".
        </p>
      </section>
      <section class="privacy-policy">
        <h2>1. Who We Are</h2>
        <h3>1.1 Eventhub Services</h3>
        <p>
          Welcome to Eventhub! We are a ticketing and registration platform
          dedicated to bringing the world together through live experiences.
          Through our platform, mobile apps, and services, we enable people all
          over the world to create, discover, share, and register for events.
        </p>
        <p>
          Eventhub's products, features, and offerings are available (a) online
          through various Eventhub properties including without limitation,
          Eventhub, Eventhub Communities, Eventhub Music, Eventhub Venue,
          Lanyrd, Rally, Ticketea, Ticketfly, nvite ("Site(s)"); (b)
          off-platform, including without limitation, RFID, entry management,
          sponsorship and marketing or distribution services; and (c) through
          mobile applications, webpages, application programming interfaces, and
          subdomains ("Applications"). (a), (b), and (c) are collectively
          referred to as "Eventhub Properties" or our "Services".
        </p>
      </section>
      <section class="privacy-policy">
        <h2>3. Personal Data That We Collect</h2>
        <p>
          When you use or interact with us through the Services or engage with
          Eventhub as a sales customer or prospect, we may collect Personal
          Data. Sometimes this will be on our own behalf and other times this
          will be on behalf of an Organizer using our Services to run an event.
          This is an important distinction for purposes of certain data
          protection laws and is explained in more detail below.
        </p>
        <h3>3.1 Information Collected From All Users</h3>
        <p>
          Information you provide to us: For all Users we collect Personal Data
          when you voluntarily provide such information to the Services, such as
          when you register for access to the Services, contact us with
          inquiries, respond to one of our surveys, register for or purchase
          tickets to an event, or browse or use certain parts of the Services.
          The Personal Data we may collect includes without limitation your
          name, address, email address, content you have signaled you are
          interested in (for example, by viewing, clicking, liking, following,
          or searching on our Services) and any other information that you
          choose to provide and/or that enables Users to be personally
          identified.
        </p>
        <p>
          Information we automatically collect: We also automatically collect
          certain technical data that is sent to us from the computer, mobile
          device and/or browser through which you access the Services
          ("Automatic Data"). Automatic Data, includes without limitation, a
          unique identifier associated with your access device and/or browser
          (including, for example, your Internet Protocol (IP) address)
          characteristics about your access device and/or browser, statistics on
          your activities on the Services, information about how you came to the
          Services and data collected through Cookies, Pixel Tags, Local Shared
          Objects, Web Storage and other similar technologies. We and our
          vendors use such technologies to collect information on a real-time
          basis about how you use and navigate our Services. This may include
          information about your browsing behavior, page visits, clicks and
          cursor movements and searches on our sites. The information (including
          your IP address) collected by these technologies will be disclosed to
          or collected directly by these vendors, who use the information to
          help us evaluate your use of the Services.
        </p>
        <p>
          You can find out more information about how we use Cookies and other
          similar tracking technologies in our Cookie Statement. When you
          register for the Services or otherwise submit Personal Data to us, we
          may associate other Non-Personal Data (including Non-Personal Data we
          collect from third parties) with your Personal Data. At such instance,
          we will treat any such combined data as your Personal Data until such
          time as it can no longer be associated with you or used to identify
          you.
        </p>
        <h3>3.2 Information Collected From Organizers.</h3>
        <p>
          If you are an Organizer we will collect additional Personal Data from
          you. Information you provide to us: In some cases, we may collect your
          credit card information (e.g., your credit card number and expiration
          date, billing address, etc.), some of which may constitute Personal
          Data, to secure certain payments. In addition, if you use our payment
          processing services, we will collect financial information from you
          (e.g., your bank account information or an address to send checks) as
          necessary to facilitate payments and information required for tax
          purposes (e.g., your taxpayer identification number). When you create
          an event, we may ask you to provide a phone number and send you a text
          message to verify your account and prevent fraudulent activity on our
          Services. Our SMS Terms are available here. Information we obtain from
          other sources: We may also collect or receive Personal Data including
          your name, email address and other contact information from third
          party sources, such as third party websites and marketing partners,
          your bank, our payment processing partners and credit reporting
          agencies.
        </p>
        <h3>3.3 Information Collected From Consumers</h3>
        <p>
          If you are a Consumer we will collect additional Personal Data from
          you, sometimes for our own purposes and other times on behalf of an
          Organizer (see Section 16 below for more information). Information you
          provide via Eventbrite Properties or Applications: If you register for
          a paid event, you will provide financial information (e.g., your
          credit card number and expiration date, billing address, etc.) some of
          which may constitute Personal Data. In addition, Organizers can set up
          event registration pages to collect virtually any information from
          Consumers in connection with registration for an Organizer's event
          listed on the Services. Eventbrite does not control an Organizer's
          registration process nor the Personal Data that they collect. When you
          register for, or otherwise provide information to Eventbrite in
          conjunction with an Organizer event or activity, whether that
          information is yours or a third party’s, in connection with a
          purchase, registration, or transfer, that Organizer will receive and
          may use the information you provide. Please see Section 5.5 below,
          titled “How We Disclose and Transfer Your Personal Data: Organizers”
          for more information about an Organizer’s receipt and use of your
          Personal Data. Information we obtain from other sources: We may also
          collect or receive Personal Data from third party sources, such as
          Organizers, other Consumers, social media or other third party
          integrations, your credit card issuing bank, our payment processing
          partners or other third parties.
        </p>
        <h3>Information you provide via Eventhub Properties or Applications</h3>
        <p>
          If you register for a paid event, you will provide financial
          information (e.g., your credit card number and expiration date,
          billing address, etc.) some of which may constitute Personal Data. In
          addition, Organizers can set up event registration pages to collect
          virtually any information from Consumers in connection with
          registration for an Organizer's event listed on the Services. Eventhub
          does not control an Organizer's registration process nor the Personal
          Data that they collect. When you register for, or otherwise provide
          information to Eventhub in conjunction with an Organizer event or
          activity, whether that information is yours or a third party’s, in
          connection with a purchase, registration, or transfer, that Organizer
          will receive and may use the information you provide. Please see
          Section 5.5 below, titled “How We Disclose and Transfer Your Personal
          Data: Organizers” for more information about an Organizer’s receipt
          and use of your Personal Data.
        </p>
        <h3>Information we obtain from other sources</h3>
        <p>
          We may also collect or receive Personal Data from third party sources,
          such as Organizers, other Consumers, social media or other third party
          integrations, your credit card issuing bank, our payment processing
          partners or other third parties.
        </p>
        <h3>3.4 Information Collected from Sales Clients and Leads</h3>
        <p>
          If you engage with the Eventhub sales team we may collect the
          following: your name, email, address, phone number, and other
          professional contact information. If you engage with the sales team
          and consent to recording a meeting, the sales team may collect audio
          and/or video recordings of you.
        </p>
      </section>
      <section class="privacy-policy">
        <h2>4. How We Use Your Personal Data</h2>
        <p>
          We collect and use the Personal Data we collect in a manner that is
          consistent with this Privacy Policy, and applicable privacy laws. We
          may use the Personal Data as follows:
        </p>
        <h3>4.1 Specific Reason</h3>
        <p>
          If you provide Personal Data for a certain purpose, we may use the
          Personal Data in connection with the purpose for which it was
          provided. For instance, if you contact us by email, we will use the
          Personal Data you provide to answer your question or resolve your
          problem and will respond to the email address from which the contact
          came.
        </p>
        <h3>4.2 Access and Use</h3>
        <p>
          If you provide Personal Data in order to obtain access to or use of
          the Services or any functionality thereof, we will use your Personal
          Data to provide you with access to or use of the Services or
          functionality and to analyze your use of such Services or
          functionality. For instance, if you supply Personal Data relating to
          your identity or qualifications to use certain portions of the
          Services, we will use that information to make a decision as to
          granting you access to use such Services and to assess your ongoing
          qualification to use such Services.
        </p>
        
      </section>
      <section class="privacy-policy">
        <h2>5. How We Disclose And Transfer Your Personal Data.</h2>
        <h3>5.1 Background.</h3>
        <p>
          We are not in the business of selling your Personal Data. We consider
          this information to be a vital part of our relationship with you.
          Therefore, we will not sell your Personal Data to third parties,
          including third party advertisers. Some interpretations of the CCPA
          take the position that when a website uses third parties’ cookies or
          similar technology for its own analytics or advertising purposes, the
          website is engaged in a “sale.” For more information, please see the
          State-Specific Supplemental Privacy Notices available here. There are
          certain circumstances in which we may disclose, transfer or share your
          Personal Data with certain third parties without further notice to
          you, as set forth in this Privacy Policy.
        </p>
        <h3>5.2 Business Transfers.</h3>
        <p>
          As we develop our business, we might sell or buy businesses or assets.
          In the event of a corporate sale, merger, reorganization, dissolution
          or similar event, Personal Data may be part of the transferred assets.
          We may also disclose your Personal Data in the course of due diligence
          for such an event. You acknowledge and agree that any successor to or
          acquirer of Eventbrite (or its assets) will continue to have the right
          to use your Personal Data and other information in accordance with the
          terms of this Privacy Policy.
        </p>
      </section>
      <section class="privacy-policy">
        <h2>6. How We Store Your Personal Data.</h2>
        <p>
          We may store Personal Data itself or such information may be stored by
          third parties to whom we have transferred it in accordance with this
          Privacy Policy. We take what we believe to be reasonable steps to
          protect the Personal Data collected via the Services from loss,
          misuse, unauthorized use, access, inadvertent disclosure, alteration
          and destruction. However, no network, server, database or Internet or
          email transmission is ever fully secure or error free. Therefore, you
          should take special care in deciding what information you send to us
          electronically. Please keep this in mind when disclosing any Personal
          Data.
        </p>
      </section>
      <section class="privacy-policy">
        <h2>
          7. How You Can Access, Update, Correct or Delete Your Personal Data.
        </h2>

        <p>
          You can access or delete your Personal Data stored by us.
          <br />
          You can download a copy of your Personal Data in machine readable form
          and/or delete your Personal Data by visiting the Eventbrite Privacy
          Center. You can also edit some of your Personal Data directly through
          your account. In certain cases, you can ask us to correct and update
          any inaccurate Personal Data using the contact information below, and
          we will consider your request in accordance with applicable laws.
          <br />
          If a Consumer initiates a data deletion request, Eventbrite is
          authorized to delete or anonymize Personal Data of the requesting
          Consumer from the Services even if that means removing its
          availability to the Organizer through the Services. However, if you
          are a Consumer, you understand that even if Eventbrite deletes or
          anonymizes your Personal Data upon your request or pursuant to this
          Policy, your Personal Data may still be available in the Organizer's
          own databases if transmitted to the Organizer prior to Eventbrite
          receiving or taking action on any deletion or anonymization activity.
          <br />
          Ticketfly Consumers may also access, update, correct or delete
          Personal Data and exercise these rights using the contact information
          below. We will consider and respond to all requests in accordance with
          applicable law.
        </p>
      </section>
      <section class="privacy-policy">
        <h2>8. How Long We Retain Your Personal Data.</h2>
        <p>
          We may retain your Personal Data as long as you are registered to use
          the Services. You may delete your account by visiting the Account
          Settings page. However, we may retain Personal Data for an additional
          period as is permitted or required under applicable laws. Even if we
          delete your Personal Data it may persist on backup or archival media
          for an additional period of time for legal, tax or regulatory reasons
          or for legitimate and lawful business purposes. For sales customers
          and prospects, we retain your data as long as we maintain a
          relationship with you and for a limited period of thereafter as
          necessary to meet business and legal requirements.
        </p>
      </section>
    </main>

    <%- include("partials/footer.ejs") %>
    <script src="/navbar.js"></script>
  </body>
</html>
